* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;

  background-image: url("./assets/background.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 30px 50px;
  background: transparent;   
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;   
  gap: 12px;

  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 35px;

  color: #02010c;           
  font-weight: 700;
}

.card {
  width: 100%;
  max-width: 900px;          
  margin: 0 auto 30px auto;
  padding: 25px;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

input[type="number"] {
  padding: 10px;
  width: 200px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}

label {
  display: flex;
  align-items: center;
  gap: 6px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #2563eb;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

.slots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.slot {
  padding: 18px;
  border-radius: 12px;
  color: #ffffff;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(4px);
}


.slot.free {
  border-left: 6px solid #22c55e;
}

.slot.occupied {
  border-left: 6px solid #ef4444;
}

.output {
  width: 100%;
  max-width: 900px;         
  margin: 0 auto 30px auto; 
  padding: 18px 25px;
  border-radius: 14px;

  background: rgba(0, 0, 0, 0.45);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

